* {
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

img {
  height: 30px;
}

button {
  border: none;
  background: none;
}

div#container-mobile div#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px;
  height: 45px;
  border-bottom: 1px solid lightgray;
}

div#container-mobile div#story {
  height: 100px;
  background-color: #FAFAFA;
  border-bottom: 1px solid lightgray;
}

div#container-mobile div#story div {
  padding: 10px;
}

img#profile_story {
  height: 55px;
}

div#container-mobile div#story div img#plus {
  height: 18px;
  margin: 0 0 -2px -20px;
  border: 1.3px solid white;
  border-radius: 100%;
}

img.profile {
  border-radius: 100%;
  border: 1px solid lightgray;
}

div#container-mobile div#story div p {
  padding: 3px 0 0 2px;
  font-size: 11px;
}

div#container-mobile div#footer {
  display: flex;
  align-items: center;
  position: fixed;
  padding: 5px;
  height: 45px;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid lightgray;
  bottom: 0;
}

@media(max-width: 900px) {
  div#container-desktop {
    display: none;
  }
}

@media(min-width: 900px) {
  div#container-mobile {
    display: none;
  }
  img {
    height: 35px;
  }
  div#container-desktop {
    background-color: #FAFAFA;
    width: 100%;
    height: 100%;
  }
  div#container-desktop header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    height: 60px;
    border-bottom: 1px solid lightgray;
  }
  div#container-desktop header input {
    border-radius: 10px;
    padding: 10px 10px 10px 20px;
    background-color: #eaeaea;
    width: 270px;
    margin: 0 -110px 0 0;
    border: none;
    outline: none;
  }
  div#container-desktop header div#btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 280px;
  }
  div#container-desktop header div#btn div#button_hover {
    position: absolute;
    background-color: white;
    box-shadow: 0 0 .5em lightgray;
    border-top-left-radius: 5px;
    border-end-start-radius: 5px;
    margin: 215px 0 0 85px;
    height: 170px;
    width: 200px;
    z-index: 2;
  }
  div#container-desktop header div#btn div#button_hover button {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 0 0 10px;
    height: 34px;
    width: 100%;
  }
  div#container-desktop header div#btn div#button_hover button:hover {
    background-color: #EFEFEF;
  }
  div#container-desktop header div#btn div#button_hover a button:nth-child(1) {
    border-top-left-radius: 5px;
  }
  div#container-desktop header div#btn div#button_hover button:nth-child(5) {
    border-top: 1px solid lightgray;
    border-end-start-radius: 5px;
  }
  div#container-desktop header div#btn div#button_hover button img {
    padding: 0 5px 0 0;
    height: 20px;
  }
}
